<form class="abc-form">
  <div class="row">
    <div class="nine columns">
      <input class="u-full-width large-input" type="url" placeholder="e.g., http://example.org" id="original-url">
    </div>

    <div class="three columns">
      <input type="submit" class="large-input" value="Shorten!">
    </div>
  </div>
</form>
