<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
