.abc-welcome {
  font-weight: bold;
}

.abc-welcome small {
  font-weight: normal;
  font-size: 0.5em;
  color: red;
}

.abc-form {
  margin-top: 8%;
}

input[type=url].large-input,
input[type=submit].large-input {
  line-height: 2.5em;
}

.abc-form input {
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
}

.short-link {
  color: blue;
  font-weight: bold;
}

.expanded-link {
  font-size: 0.9em;
}

.url-clicks {
  margin-top: 30px;
}
